@import "../../styles/var";
@import "../../styles/base";

.footer {
  font-family: sans-serif;
  background-color: $black;
  color: $white;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  &__nav {
    display: flex;
    justify-content: space-evenly;
    &>li {
      padding: 0 10px;
    }
  }
  &__bottom {
    text-align: center;
    margin: 10px 0 0 0;
  }
  &__logo {
    display: flex;
    justify-content: center;
  }
}